## Guru99 Bank application test report

### Summary of activities performed

- The environments and equipment on which the tests took place:

1. Chrome Version 111.0.5563.111 (64-bit)
2. Windows 10 Home

- Application areas and types of tests performed:

1. Registration and Login. Test time 0,5h. Functional tests, boundary value tests, validation tests.
2. New Customer. Test time 2h. Functional tests, boundary value tests, validation tests.
3. Edit Customer. Test time 0,5h. Functional tests.
4. Delete Customer. Test time 0,5h. Functional tests.
5. New Account. Test time 1h. Functional tests, boundary value tests, validation tests.
6. Edit Account. Test time 0,5h. Functional tests.
7. Delete Account. Test time 0,5h. Functional tests.
8. Whole application. Test time 2h. Non-functional tests.

### Summary of all defects

- To do
1. [GB99-04](https://github.com/adamcegielka/My_Test_Projects/blob/main/Guru99%20Bank/Bug%20Reports/GB99-04%20Positive%20login%20with%20changed%20UserID.pdf) Positive login with changed UserID
2. [GB99-05](https://github.com/adamcegielka/My_Test_Projects/blob/main/Guru99%20Bank/Bug%20Reports/GB99-05%20Positive%20login%20with%20changed%20Password.pdf) Positive login with changed Password
3. [GB99-06](https://github.com/adamcegielka/My_Test_Projects/blob/main/Guru99%20Bank/Bug%20Reports/GB99-06%20User%20not%20yet%20born%20has%20been%20added%20successfully.pdf) User not yet born has been added successfully
4. [GB99-07](https://github.com/adamcegielka/My_Test_Projects/blob/main/Guru99%20Bank/Bug%20Reports/GB99-07%20The%20user%20at%20200%20age%20and%20incomplete%20data%20was%20added%20successfully.pdf) The user at 200 age and incomplete data was added successfully
5. [GB99-08](https://github.com/adamcegielka/My_Test_Projects/blob/main/Guru99%20Bank/Bug%20Reports/GB99-08%20It%20is%20not%20possible%20to%20edit%20the%20name%20of%20the%20consumer.pdf) It is not possible to edit the name of the consumer
6. [GB99-09](https://github.com/adamcegielka/My_Test_Projects/blob/main/Guru99%20Bank/Bug%20Reports/GB99-09%20It%20is%20not%20possible%20to%20edit%20the%20Gender%20field.pdf) It is not possible to edit the Gender field
7. [GB99-10](https://github.com/adamcegielka/My_Test_Projects/blob/main/Guru99%20Bank/Bug%20Reports/GB99-10%20It%20is%20not%20possible%20to%20edit%20Date%20of%20Birth.pdf) It is not possible to edit Date of Birth
8. [GB99-11](https://github.com/adamcegielka/My_Test_Projects/blob/main/Guru99%20Bank/Bug%20Reports/GB99-11%20Change%20of%20address%20was%20successful%2C%20but%20there%20is%20a%20conflicting%20message.pdf) Change of address was successful, but there is a conflicting message
9. [GB99-12](https://github.com/adamcegielka/My_Test_Projects/blob/main/Guru99%20Bank/Bug%20Reports/GB99-12%20Change%20of%20City%20was%20successful%2C%20but%20there%20is%20a%20conflicting%20message.pdf) Change of City was successful, but there is a conflicting message
10. [GB99-13](https://github.com/adamcegielka/My_Test_Projects/blob/main/Guru99%20Bank/Bug%20Reports/GB99-13%20Change%20of%20State%20was%20successful%2C%20but%20there%20is%20a%20conflicting%20message.pdf) Change of State was successful, but there is a conflicting message
11. [GB99-14](https://github.com/adamcegielka/My_Test_Projects/blob/main/Guru99%20Bank/Bug%20Reports/GB99-14%20Change%20of%20PIN%20was%20successful%2C%20but%20there%20is%20a%20conflicting%20message.pdf) Change of PIN was successful, but there is a conflicting message
12. [GB99-15](https://github.com/adamcegielka/My_Test_Projects/blob/main/Guru99%20Bank/Bug%20Reports/GB99-15%20Change%20of%20Mobile%20Number%20was%20successful%2C%20but%20there%20is%20a%20conflicting%20message.pdf) Change of Mobile Number was successful, but there is a conflicting message
13. [GB99-16](https://github.com/adamcegielka/My_Test_Projects/blob/main/Guru99%20Bank/Bug%20Reports/GB99-16%20Change%20of%20E-mail%20was%20successful%2C%20but%20there%20is%20a%20conflicting%20message.pdf) Change of E-mail was successful, but there is a conflicting message
14. [GB99-17](https://github.com/adamcegielka/My_Test_Projects/blob/main/Guru99%20Bank/Bug%20Reports/GB99-17%20Editing%20of%20the%20account%20was%20not%20successful.pdf) Editing of the account was not successful
15. [GB99-18](https://github.com/adamcegielka/My_Test_Projects/blob/main/Guru99%20Bank/Bug%20Reports/GB99-18%20Account%20deletion%20failed.pdf) Account deletion failed

### Summary of test completion criteria

- I managed to complete all the planned tests
- During testing, there were no difficulties or problems with the test environment
- The time of entire project was carried out for 8 days, an average of 2 hours per day 
- [M1 - Guru99 Bank Project](https://github.com/adamcegielka/My_Test_Projects/blob/main/Guru99%20Bank/Reports/M1%20-%20Guru99%20Bank%20Project%20%231.pdf) Final report in TestRail of tests performed
- The project lacked testing with DevTools, which will be used for future projects